$main-text-color: #111518;
$second-text-color: #b9b9b9;
$light-text-color: #ffffff;

$main-bg-color: #ffffff;
$second-bg-color: #111518;
$light-bg-color: #e5e5e5;
$guarantee-bg-color: #f1f1f1;

$brend-color: #ff6b09;
