@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #111518;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  color: #111518;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1366px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.section {
  padding-top: 130px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px), (min-width: 480px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 728px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  padding: 30px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1366px) {
  .header__container {
    min-width: 1366px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: block;
    width: 128px;
    height: 45px;
    display: flex;
    align-items: center;
  }
}

.burger-menu__icon {
  fill: currentColor;
}

.menu-open {
  opacity: 1;
}
.mobile-menu_btn--close.is-open .menu-open {
  opacity: 0;
}

.menu-close {
  opacity: 0;
}
.mobile-menu_btn--close.is-open .menu-close {
  opacity: 1;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 21, 24, 0.9);
  text-align: center;
}
@media screen and (min-width: 1366px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__overlay {
  max-width: 480px;
  margin: 0 auto;
  padding: 30px 20px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__overlay {
    max-width: 768px;
  }
}

.mobile-menu_btn--close {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  gap: 6px;
  display: flex;
  order: 3;
}
.mobile-menu_btn--close div {
  position: absolute;
  right: 8px;
  width: 21px;
  height: 2px;
  background-color: #ffffff;
}
.mobile-menu_btn--close .menu-open {
  fill: #ffffff;
}
@media screen and (min-width: 1366px) {
  .mobile-menu_btn--close {
    display: none;
  }
}

.mobile-menu__list {
  padding-bottom: 50px;
  text-align: left;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__list {
    width: 330px;
    margin: 0 auto;
  }
}

.mobile-menu__link {
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  transition: ease-in 0.3s;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-size: 26px;
  }
}

.mobile-menu__btn-call {
  background-color: transparent;
  border: 2px solid #ff6b09;
  width: 260px;
  padding: 14px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #ff6b09;
  text-transform: uppercase;
  transition: ease-in 0.3s;
  margin: 0 auto;
}
.mobile-menu__btn-call:hover, .mobile-menu__btn-call:focus {
  border: 2px solid #ffffff;
  background-color: #ff6b09;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn-call {
    display: none;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 1366px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

.nav-wrapper {
  display: flex;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #b9b9b9;
  transition: ease-in 0.3s;
}
.nav__link:hover, .nav__link:focus {
  color: #ff6b09;
}

.btn-wrap {
  display: flex;
  align-items: center;
}

.header__btn {
  background-color: transparent;
  border: 2px solid #ff6b09;
  width: 354px;
  padding: 25px 44px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #ff6b09;
  text-transform: uppercase;
  transition: ease-in 0.3s;
  display: none;
}
.header__btn:hover, .header__btn:focus {
  border: 2px solid #ffffff;
  background-color: #ff6b09;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: block;
    width: 260px;
    padding: 15px 0;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .header__btn {
    display: block;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    gap: 22px;
  }
}
@media screen and (min-width: 1366px) {
  .benefits__list {
    justify-content: space-between;
    align-items: center;
  }
}

.benefits__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1366px) {
  .benefits__item {
    position: relative;
    margin: 0;
  }
}
.benefits__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../images/benefits/author.svg);
}
@media screen and (min-width: 1366px) {
  .benefits__item::before {
    width: 100px;
    height: 100px;
  }
}

.benefits__item--logof-modern::before {
  background-image: url(../images/benefits/modern.svg);
}

.benefits__item--logof-finance::before {
  background-image: url(../images/benefits/finance.svg);
}

.benefits__text {
  width: 146px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6428571429;
  letter-spacing: 0.08em;
  color: #111518;
  margin-left: 8px;
}
@media screen and (min-width: 1366px) {
  .benefits__text {
    width: 270px;
    font-size: 20px;
    line-height: 1.65;
    transform: translateX(-25px);
  }
}

.program.section {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #111518;
}
@media screen and (min-width: 768px) {
  .program.section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1366px) {
  .program.section {
    padding-top: 120px;
    padding-bottom: 0;
  }
}

.section__title {
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .section__title {
    text-align: start;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1366px) {
  .section__title {
    margin-bottom: 58px;
  }
}

.program__container {
  position: relative;
}

.lines {
  margin-left: 40px;
  position: relative;
}
.lines::before {
  content: "";
  position: absolute;
  top: 10px;
  height: 1260px;
  width: 3px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .lines::before {
    height: 770px;
  }
}
@media screen and (min-width: 1366px) {
  .lines::before {
    height: 3px;
    width: 120%;
    left: -10%;
  }
}
@media screen and (min-width: 768px) {
  .lines {
    margin-left: 35px;
  }
}
@media screen and (min-width: 1366px) {
  .lines {
    margin-left: 0;
  }
}

.program__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1366px) {
  .program__title {
    font-size: 20px;
    line-height: 1.4;
  }
}
.program__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
}
@media screen and (max-width: 767px) {
  .program__title::before {
    left: 12.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .program__title::before {
    left: 4.5%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  .program__title::before {
    top: 1%;
  }
}

.letter {
  margin-right: 7px;
}
@media screen and (min-width: 1366px) {
  .letter {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .program__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .program__list {
    margin-left: 87px;
  }
}
@media screen and (min-width: 1366px) {
  .program__list {
    margin-left: 0;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .program__item {
    margin-left: 20px;
  }
  .program__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .program__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1366px) {
  .program__item {
    margin-bottom: 0px;
    margin-top: 48px;
  }
  .program__item:not(:first-child) {
    margin-left: 46px;
  }
}

.program__sublist {
  margin-top: 5px;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .program__sublist {
    width: 176px;
  }
}
@media screen and (min-width: 768px) {
  .program__sublist {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .program__sublist {
    flex-direction: column;
    gap: 0;
  }
}

.program__subitem {
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
.program__subitem::before {
  content: "―";
  color: #ff6b09;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .program__subitem {
    width: 150px;
  }
}
@media screen and (min-width: 1366px) {
  .program__subitem {
    width: 226px;
    font-size: 20px;
  }
}

.program__text {
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  opacity: 0.5;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
@media screen and (min-width: 1366px) {
  .program__text {
    font-size: 18px;
  }
}

.image {
  position: absolute;
}
@media screen and (max-width: 767px) {
  .image {
    bottom: -220%;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .image {
    bottom: -142%;
    right: 0;
  }
}
@media screen and (min-width: 1366px) {
  .image {
    bottom: -40%;
    left: -100px;
  }
}

.section-features {
  background-image: linear-gradient(to bottom, #111518 50%, #ffffff 50%);
}

.title--white {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .title--white {
    text-align: center;
  }
}
@media screen and (min-width: 1366px) {
  .title--white {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.features__inner {
  padding: 35px 22px;
  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .features__inner {
    padding: 40px 98px;
  }
}
@media screen and (min-width: 1366px) {
  .features__inner {
    padding: 67px 113px;
  }
}

.features_list {
  counter-reset: section;
}
@media screen and (min-width: 768px) {
  .features_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1366px) {
  .features_list {
    row-gap: 40px;
    column-gap: 30px;
  }
}

.features__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 40px) / 2);
    margin-bottom: 0;
  }
}
.features__item::before {
  display: block;
  counter-increment: section;
  content: "―" counter(section);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.features__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 10px;
}
@media screen and (min-width: 1366px) {
  .features__text {
    font-size: 20px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) {
  .teacher-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .teacher {
    margin-left: 42px;
  }
}
@media screen and (min-width: 1366px) {
  .teacher {
    margin-left: 60px;
  }
}
.teacher__title {
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
.teacher__list {
  margin-bottom: 20px;
  border-top: 1px solid #b9b9b9;
}
.teacher__item {
  position: relative;
  padding-left: 27px;
}
.teacher__item:not(:last-child) {
  margin-bottom: 20px;
}
.teacher__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin-right: 30px;
  width: 22px;
  height: 30px;
  background-image: url(../images/teacher/teacher.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.teacher__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
}
.teacher__description {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
}
.teacher__description:not(:last-child) {
  margin-bottom: 20px;
}
.teacher__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ff6b09;
}

.guarantee-title {
  text-align: center;
}

.guarantee {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 38px;
  padding-bottom: 57px;
  padding-right: 122px;
  padding-left: 102px;
  background-color: #f1f1f1;
}
.guarantee__item {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #3D3D3D;
}
.guarantee__text {
  padding-left: 52px;
}
.guarantee__element {
  color: #ff6b09;
}
.guarantee__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  margin-right: 30px;
  width: 22px;
  height: 30px;
  background-image: url(../images/guarantee/guarantee.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.guarantee__item:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 25px;
  left: 10px;
  border: 1px dashed #b9b9b9;
}/*# sourceMappingURL=index.css.map */