<section class="section">
  <h2 class="visually-hidden">Privilege</h2>
  <div class="container">
    <ul class="benefits__list list">
      <li class="benefits__item">
        <p class="benefits__text">Adapted author's UPE program</p>
      </li>
      <li class="benefits__item benefits__item--logof-modern">
        <p class="benefits__text">Modern teaching methods</p>
      </li>
      <li class="benefits__item benefits__item--logof-finance">
        <p class="benefits__text">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
