<section class="section section-features" id="training">
  <div class="container container-features">
    <h2 class="section__title title--white">Why do people choose us</h2>
    <div class="features__inner" data-aos="zoom-in-up">
      <ul class="features_list list">
        <li class="features__item">
          <p class="features__text">Training in small groups</p>
        </li>
        <li class="features__item">
          <p class="features__text">Rendered notes</p>
        </li>
        <li class="features__item">
          <p class="features__text">
            Each lesson has a goal and a specific result
          </p>
        </li>
        <li class="features__item">
          <p class="features__text">The real results of the teacher</p>
        </li>
        <li class="features__item">
          <p class="features__text">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="features__item">
          <p class="features__text">Set of groups by level of knowledge</p>
        </li>
      </ul>
    </div>
  </div>
</section>
