<footer class="footer">
  <section class="footer__first--section" id="Contacts">
    <div class="container footer__top">
      <div class="footer__logo--container">
        <a href="./index.html" class="logo header__logo">
          <svg width="128" height="45">
            <use href="./images/symbol-defs.svg#logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer__contacts">
        <ul class="footer__contacts--group">
          <li class="footer__contacts--number list">
            <svg class="footer__icon--tel">
              <use href="./images/symbol-defs.svg#icon-phone"></use>
            </svg>
            <a href="tel:+380991234567" class="footer__contacts--tel link">+38 (099) 123 45 67</a>
          </li>
          <li class="list footer__contacts--inst"><a href="https://www.instagram.com/" target="_blank">
              <img src="./images/footer/instagram.png" alt="instagram" width="40" height="40">
            </a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="footer__second--section">
    <div class="container">
      <p class="footer__text">&copy;
        All rights reserved, 2022</p>
    </div>
  </section>
</footer>