<section class="section">
  <h2 class="section__title guarantee-title">We guarantee</h2>
  <div class="container mob-bg-color">
    <div class="guarantee-section">
      <ul class="guarantee list">
        <li class="guarantee__item">
            <p class="guarantee__text">You will pass the UPE with at least 25 points better than on the first practice test. Otherwise, we will refund your money.
              <span class="guarantee__element">*</span></p>
        </li>
        <li class="guarantee__item">
          <p class="guarantee__text">You will learn to write essays with at least 10 points out of 14.
            <span class="guarantee__element">While 20% of the students received 0 for essays.</span></p>
        </li>
        <li class="guarantee__item">
          <p class="guarantee__text">You will study in your area. We will choose the location for the classes after the teams have been formed.</p>
        </li>
        <li class="guarantee__item">
          <p class="guarantee__text">Teams will be formed based on the starting level of the students. We take into account the characteristics of each student.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
