<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo header__logo">
      <svg width="80" height="30">
        <use href="./images/symbol-defs.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item item">
          <a href="#" class="nav__link link">Studying program</a>
        </li>
        <li class="nav__item item">
          <a href="#" class="nav__link link">about</a>
        </li>
        <li class="nav__item item">
          <a href="#" class="nav__link link">training options</a>
        </li>
        <li class="nav__item item">
          <a href="#" class="nav__link link">contacts</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header__btn btn">consultation by phone</button>
  </div>
</header>
