<section class="section hero" id="hero">
  <!-- <img class="bg-wave" src="./images/hero/wave-bg_lg.png" alt="dsd" /> -->
  <!-- <picture class="bg-wave">
    <source
      media="(min-width: 1366px)"
      srcset="./images/hero/wave-bg_lg.png 1x"
    />
    <source
      media="(min-width: 768px)"
      srcset="./images/hero/wave-bg_lg.png 1x"
    />
    <source
      media="(max-width: 319px)"
      srcset="./images/hero/wave-bg_sm.png 1x"
    />
    <img src="./images/hero/wave-bg_lg.png" alt="gallery 1" loading="lazy" />
  </picture> -->

  <div class="container hero__container">
    <div class="hero-content">
      <h1 class="hero__title title text-focus-in">
        Complex preparation for English UPE
      </h1>
      <p class="hero__paragraph hero__paragraph--gray text-focus-in">
        It won’t be easy.
      </p>
      <p class="hero__paragraph text-focus-in">
        But you’re guaranteed to get <span>+25 points</span>
      </p>
      <button class="hero__btn btn heartbeat" type="button">
        I want a free lesson
      </button>
    </div>
    <picture class="hero__image" data-aos="fade-left">
      <source
        media="(min-width: 1366px)"
        srcset="./images/hero/hero_lg.png 1x, ./images/hero/hero_lg@2x.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/hero/hero_md.png 1x, ./images/hero/hero_md@2x.png 2x"
      />
      <source
        media="(max-width: 319px)"
        srcset="./images/hero/hero_sm.png 1x, ./images/hero/hero_sm@2x.png 2x"
      />
      <img src="./images/hero/hero_lg.png" alt="gallery 1" loading="lazy" />
    </picture>
  </div>
</section>
