<section class="section how">
  <div class="container">
    <h2 class="section__title title">How do we do it</h2>
    <ul class="work-list list">
      <li class="work-list__card">
        <svg
          class="work-list__icon card-list__icon--modern"
          Width="55px"
          height="55px"
        >
          <use href="./images/symbol-defs.svg#study-program"></use>
        </svg>
        <h3 class="work-list__title">Adapted program preparation for UPE</h3>
        <p class="work-list__text">
          You will learn grammar and vocabulary at the same time. And you will
          learn how to write essays.
        </p>
      </li>
      <li class="work-list__card">
        <svg class="work-list__icon" Width="55px" height="55px">
          <use href="./images/symbol-defs.svg#mobile-learning"></use>
        </svg>
        <h3 class="work-list__title">Classroom and online learning</h3>
        <p class="work-list__text">
          The teacher will help not only in the classroom, but also during home
          preparation. Parents can chat if they wish.
        </p>
      </li>
      <li class="work-list__card">
        <svg class="work-list__icon" Width="55px" height="55px">
          <use href="./images/symbol-defs.svg#open-book"></use>
        </svg>
        <h3 class="work-list__title">The habit of reading in English</h3>
        <p class="work-list__text">
          Articles from sources that are used in the development of this UPE
          will be received by phone twice a week.
        </p>
      </li>
      <li class="work-list__card">
        <svg class="work-list__icon" Width="55px" height="55px">
          <use href="./images/symbol-defs.svg#union"></use>
        </svg>
        <h3 class="work-list__title">Psychological support</h3>
        <p class="work-list__text">
          We will teach you testing techniques, the ability to plan your
          confidence training in itself.
        </p>
      </li>
      <li class="work-list__card">
        <svg class="work-list__icon" Width="55px" height="55px">
          <use href="./images/symbol-defs.svg#tudent"></use>
        </svg>
        <h3 class="work-list__title">Training on copyright manuals</h3>
        <p class="work-list__text">
          You don't have to waste your time on a search for material and to buy
          anything extra. We have compiled 2 manuals for you.
        </p>
      </li>
      <li class="work-list__card">
        <svg class="work-list__icon" Width="55px" height="55px">
          <use href="./images/symbol-defs.svg#book"></use>
        </svg>
        <h3 class="work-list__title">Ability to comprehend spoken English</h3>
        <p class="work-list__text">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze
          audio recordings in accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
