<section class="section section-problems">
  <div class="container">
    <h2 class="section__title problems-title">
      The main problems of students in English UPE, which <br />
      we <a href="" class="help">help</a> to solve
    </h2>
    <svg class="bg-fire" width="406px" height="472px">
      <use href="./images/symbol-defs.svg#bg-fire"></use>
    </svg>
    <ul class="problems-list list" data-aos="fade-up">
      <li class="problems-list__enumeration">
        <p class="problems-list__title">&mdash; 01</p>
        <h3 class="problems-list__text">Grammar</h3>
      </li>
      <li class="problems-list__enumeration">
        <p class="problems-list__title">&mdash; 02</p>
        <h3 class="problems-list__text">
          Inability to understand spoken English
        </h3>
      </li>
      <li class="problems-list__enumeration">
        <p class="problems-list__title">&mdash; 03</p>
        <h3 class="problems-list__text">
          Stingy vocabulary for writing an essay
        </h3>
      </li>
      <li class="problems-list__enumeration">
        <p class="problems-list__title">&mdash; 04</p>
        <h3 class="problems-list__text">Preparing alone</h3>
      </li>
      <li class="problems-list__enumeration">
        <p class="problems-list__title">&mdash; 05</p>
        <h3 class="problems-list__text">Lack of a single knowledge resource</h3>
      </li>
      <li class="problems-list__enumeration">
        <p class="problems-list__title">&mdash; 06</p>
        <h3 class="problems-list__text">Lack of self-organization</h3>
      </li>
    </ul>
  </div>
</section>
