<section class="section">
  <div class="container">
    <h2 class="program__title">Our program</h2>
    <ul>
      <li>
        1 semester
        <ul>
          <li>— Grammar</li>
          <p>Nouns & Articles Adjectives & Adverb</p>
          <li>— Vocabulary</li>
          <p>Family & Relations People & Society</p>
        </ul>
      </li>
      <li>
        2 semester
        <ul>
          <li>— Grammar</li>
          <p>Pronouns Active Voice Passive Voice</p>
          <li>— Vocabulary</li>
          <p>Home School Work</p>
        </ul>
      </li>
      <li>
        3 semester
        <ul>
          <li>— Grammar</li>
          <p>Modal verbs Infinitive Gerund Participle: 1, 2</p>
          <li>— Vocabulary</li>
          <p>Travel & Tourism Culture & Free Time Sport</p>
          <li>— Writing</li>
          <p>Informal Letter</p>
        </ul>
      </li>
      <li>
        4 semester
        <ul>
          <li>— Grammar</li>
          <p>
            Clauses: Conditional and Wishes Direct / Reported speech Preposition
            Conjunction Numeral
          </p>
          <li>— Vocabulary</li>
          <p>Healthy Living Nature & Environment Money</p>
          <li>— Writing</li>
          <p>Formal Letter</p>
        </ul>
      </li>
      <li>
        5 semester
        <ul>
          <li>—</li>
          <p>Revision Tests</p>
        </ul>
      </li>
    </ul>
    <!-- <picture> -->
    <!-- mobile screen -->
    <!-- <source
  media="(max-width: 767px)"
  srcset="./images/program/program_sm.png 1x, ./images/program/program_sm@2x.png 2x"
  type="png/image"> -->
    <!-- tablet screen -->
    <!-- <source
  media="(min-width: 768px)"
  srcset="./images/program/program_md.png 1x, ./images/program/program_md@2x.png 2x"
  type="png/image"> -->
    <!-- desktop screen -->
    <!-- <source
  media="(min-width: 1366px)"
  srcset="./images/program/program_lg.png 1x, ./images/program/program_lg@2x.png 2x"
  type="png/image">
</picture> -->
    <img
      srcset="
        ./images/program/program_sm.png 120w,
        ./images/program/program_md.png 374w,
        ./images/program/program_lg.png 672w
      "
      sizes="(min-width: 1366px) 672px, (min-width: 768px) 374px, (max-width: 767px) 120px"
      alt="Teacher with students"
      height=""
      width=""
      loading="lazy"
    />
  </div>
</section>
