<section class="program section">
  <div class="container">
    <h2 class="section__title">Our program</h2>
    <ul class="program__list list">
      <li class="program__item">
        1 semester
        <ul class="program__sublist list">
          <li class="program__subitem">Grammar</li>
          <p class="program__text">Nouns & Articles Adjectives & Adverb</p>
          <li class="program__subitem">Vocabulary</li>
          <p class="program__text">Family & Relations People & Society</p>
        </ul>
      </li>
      <li class="program__item">
        2 semester
        <ul class="program__sublist list">
          <li class="program__subitem">Grammar</li>
          <p class="program__text">Pronouns Active Voice Passive Voice</p>
          <li class="program__subitem">Vocabulary</li>
          <p class="program__text">Home School Work</p>
        </ul>
      </li>
      <li class="program__item">
        3 semester
        <ul class="program__sublist list">
          <li class="program__subitem">Grammar</li>
          <p class="program__text">Modal verbs Infinitive Gerund Participle: 1, 2</p>
          <li class="program__subitem">Vocabulary</li>
          <p class="program__text">Travel & Tourism Culture & Free Time Sport</p>
          <li class="program__subitem">Writing</li>
          <p class="program__text">Informal Letter</p>
        </ul>
      </li>
      <li class="program__item">
        4 semester
        <ul class="program__sublist list">
          <li class="program__subitem">Grammar</li>
          <p class="program__text">
            Clauses: Conditional and Wishes Direct / Reported speech Preposition
            Conjunction Numeral
          </p>
          <li class="program__subitem">Vocabulary</li>
          <p class="program__text">Healthy Living Nature & Environment Money</p>
          <li class="program__subitem">Writing</li>
          <p class="program__text">Formal Letter</p>
        </ul>
      </li>
      <li class="program__item">
        5 semester
        <ul class="program__sublist list">
          <li class="program__subitem"></li>
          <p class="program__text">Revision 
            Tests</p>
        </ul>
      </li>
    </ul>
    <div class="image">
      <img
        srcset="
          ./images/program/program_sm.png 120w,
          ./images/program/program_md.png 374w,
          ./images/program/program_lg.png 672w
        "
        sizes="(max-width: 767px) 120px, (min-width: 768px) 374px, 100vw"
        alt="Teacher with students"
        height=""
        width=""
        loading="lazy"
      />
    </div>
  </div>
</section>
