<section class="program section">
  <div class="lines"></div>
  <div class="program container">
    <h2 class="section__title title-program">Our program</h2>

      <div class="program__container">
        <div class="lines__small"></div>
        <ul class="program__list list">
          <li class="program__item">
            <h3 class="program__title"><span class="letter">1</span> semester</h3>
            <ul class="program__sublist list">
                <li class="program__subitem">Grammar
                <p class="program__text">Nouns & Articles <br> Adjectives & Adverb</p>
                </li>
                <li class="program__subitem">Vocabulary
                <p class="program__text">Family & Relations <br> People & Society</p>
                </li>
            </ul>
          </li>
          <li class="program__item">
            <h3 class="program__title"><span class="letter">2</span> semester</h3>
            <ul class="program__sublist list">
              <li class="program__subitem">Grammar
              <p class="program__text">Pronouns <br> Active Voice <br> Passive Voice</p>
              </li>
              <li class="program__subitem">Vocabulary
              <p class="program__text">Home <br> School <br> Work</p>
              </li>
            </ul>
          </li>
          <li class="program__item">
            <h3 class="program__title"><span class="letter">3</span> semester</h3>
            <ul class="program__sublist list">
              <li class="program__subitem">Grammar
              <p class="program__text">Modal verbs <br> Infinitive <br> Gerund <br> Participle: 1, 2</p>
              </li>
              <li class="program__subitem">Vocabulary
              <p class="program__text">Travel & Tourism <br> Culture & Free Time <br> Sport</p>
              </li>
              <li class="program__subitem">Writing
              <p class="program__text">Informal Letter</p>
              </li>
            </ul>
          </li>
          <li class="program__item">
            <h3 class="program__title"><span class="letter">4</span> semester</h3>
            <ul class="program__sublist list">
              <li class="program__subitem">Grammar
              <p class="program__text">
                Clauses: Conditional and Wishes <br> Direct / Reported speech <br> Preposition
              <br> Conjunction <br> Numeral
              </p>
              </li>
              <li class="program__subitem">Vocabulary
              <p class="program__text">Healthy Living <br> Nature & Environment <br> Money</p>
              </li>
              <li class="program__subitem">Writing
              <p class="program__text">Formal Letter</p>
              </li>
            </ul>
          </li>
          <li class="program__item">
            <h3 class="program__title"><span class="letter">5</span> semester</h3>
            <ul class="program__sublist list">
              <li class="program__subitem">
              <p class="program__text">Revision <br> Tests</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="image">
        <picture>
          <source
            media="(min-width: 1366px)"
            srcset="
              ./images/program/program_lg.png    1x,
              ./images/program/program_lg@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/program/program_md.png    1x,
              ./images/program/program_md@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/program/program_sm.png    1x,
              ./images/program/program_sm@2x.png 2x
            "
            type="image/png"
          />
          <img src="./images/program/program_sm.png"
          class="image__height"
          alt="teacher"
          loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>
