<section class="registration" id="registration">
  <div class="container registration__container">
    <h2 class="registration__title--text">
      Registration for a
      <span class="registration__brend--text">free</span> phone
      <span class="registration__brend--text">consultation</span> on the nuances
      of English UPE
    </h2>
    <p class="registration__low--text">
      Leave a request for participation in a
      <span class="registration__brend--text"> free lesson </span>. <br />A
      consultant will contact you and answer your questions
    </p>

    <form action="" class="registration__form">
      <label for="" class="registration__form--label">
        <input
          type="text"
          class="registration__form--input"
          placeholder="Name&ast;
"
          pattern="[a-z,A-Z]{1,15}"
          required
        />
      </label>
      <label for="" class="registration__form--label">
        <input
          type="tel"
          class="registration__form--input"
          placeholder="Phone&ast;
"
          pattern="[0-9]{10}"
          required
        />
      </label>
      <button type="submit" class="registration__form--btn">
        i want a free lesson
      </button>
    </form>
  </div>
</section>
