.footer {
  padding-top: 52px;
  background-image: linear-gradient(
    to bottom,
    #e5e5e5 69%,
    #111518 69%,
    #111518
  );
}
.footer__logo--container {
  padding-bottom: 120px;
}
.footer__one {
  display: flex;
}
