.guarantee-title {
    text-align: center;
}

.guarantee {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 38px;
    padding-bottom: 57px;
    padding-right: 122px;
    padding-left: 102px;
    background-color: $guarantee-bg-color;

    &__item {
        position: relative;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        color: #3D3D3D;
    }

    &__text {
        padding-left: 52px;
    }

    &__element {
        color: $brend-color;
    }

    &__item::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        margin-right: 30px;
        width: 22px;
        height: 30px;
        background-image: url(../images/guarantee/guarantee.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
       
    }

    &__item:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        top: 25px;
        left: 10px;
        border: 1px dashed $second-text-color;
    }
}